ion-toggle {
  --background-checked: #2ecc71; /* Color de fondo cuando está activado */
  --background-unchecked: #e74c3c; /* Color de fondo cuando está desactivado */
  --handle-checked-background: #fff; /* Color del control cuando está activado */
  --handle-unchecked-background: #fff; /* Color del control cuando está desactivado */
}

.container {
  padding: 20px;
}

.room {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.room-label {
  flex-grow: 1;
  margin-right: 10px;
}

/* Estilos del cuadrado */
.cuadrado {
  width: 200px; /* Anchura del cuadrado */
  height: 200px; /* Altura del cuadrado */
  background-color: #3498db; /* Color de fondo predeterminado */
  margin-top: 20px;
}
